:root {
	--color-white: 0, 0%, 100%;
	--color-black: 0, 0%, 0%;
	--color-pink: 330, 74%, 53%;
	--color-purple: 249, 100%, 66%;
	--color-blue: 201, 100%, 56%;
	--color-red: 0, 100%, 50%;
	--color-yellow: 45, 100%, 60%;
	--color-green: 72, 100%, 50%;
	--color-gray-100: 0, 0%, 85%;
	--color-gray-200: 225, 7%, 11%;
	--color-gray-300: 240, 4%, 9%;
}

@font-face {
	font-family: Wotfard;
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-extralight.woff') format('woff'), url('/fonts/wotfard-extralight.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-light.woff') format('woff'), url('/fonts/wotfard-light.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-regular.woff') format('woff'), url('/fonts/wotfard-regular.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-medium.woff') format('woff'), url('/fonts/wotfard-medium.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-semibold.woff') format('woff'), url('/fonts/wotfard-semibold.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-bold.woff') format('woff'), url('/fonts/wotfard-bold.woff2') format('woff2');
}

*:focus {
	outline: 2px solid transparent !important;
	outline-offset: 2px !important;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

html, body {
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}

::-moz-selection {
	color: hsl(var(--color-white));
	background-color: hsl(var(--color-pink));
}

::selection {
	color: hsl(var(--color-white));
	background-color: hsl(var(--color-pink));
}

input[type="radio"]:checked + label {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-black), var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsla(var(--color-white), var(--tw-text-opacity));
}

button[data-action="start"], button[data-action="stop"] {
	display: none;
}

.grecaptcha-badge {
	display: none !important;
}

/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a1a1aa;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */

:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	border-color: currentColor;
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0px;
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	--tw-shadow: 0 0 #0000;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #6b7280;
	opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #6b7280;
	opacity: 1;
}

input::placeholder,textarea::placeholder {
	color: #6b7280;
	opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

::-webkit-date-and-time-value {
	min-height: 1.5em;
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	-webkit-print-color-adjust: exact;
	        color-adjust: exact;
}

[multiple] {
	background-image: initial;
	background-position: initial;
	background-repeat: unset;
	background-size: initial;
	padding-right: 0.75rem;
	-webkit-print-color-adjust: unset;
	        color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
	        color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563eb;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	--tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
	border-radius: 0px;
}

[type='radio'] {
	border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 2px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

[type='checkbox']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
	border-color: transparent;
	background-color: currentColor;
}

[type='checkbox']:indeterminate {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
	border-color: transparent;
	background-color: currentColor;
}

[type='file'] {
	background: unset;
	border-color: inherit;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-size: unset;
	line-height: inherit;
}

[type='file']:focus {
	outline: 1px auto -webkit-focus-ring-color;
}
.container {
	width: 100%;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.top-0 {
	top: 0px;
}
.left-0 {
	left: 0px;
}
.right-0 {
	right: 0px;
}
.top-10 {
	top: 2.5rem;
}
.right-12 {
	right: 3rem;
}
.bottom-16 {
	bottom: 4rem;
}
.bottom-0 {
	bottom: 0px;
}
.-top-full {
	top: -100%;
}
.left-1\/2 {
	left: 50%;
}
.top-1\/2 {
	top: 50%;
}
.-bottom-2\/3 {
	bottom: -66.666667%;
}
.top-full {
	top: 100%;
}
.-left-1\/2 {
	left: -50%;
}
.-top-1\/4 {
	top: -25%;
}
.-right-1\/4 {
	right: -25%;
}
.-top-1\/2 {
	top: -50%;
}
.left-\[20\%\] {
	left: 20%;
}
.top-36 {
	top: 9rem;
}
.left-4 {
	left: 1rem;
}
.right-4 {
	right: 1rem;
}
.right-40 {
	right: 10rem;
}
.top-4 {
	top: 1rem;
}
.top-\[16\%\] {
	top: 16%;
}
.-left-1\/4 {
	left: -25%;
}
.right-\[-15\%\] {
	right: -15%;
}
.top-16 {
	top: 4rem;
}
.-right-20 {
	right: -5rem;
}
.-top-4 {
	top: -1rem;
}
.-right-1 {
	right: -0.25rem;
}
.top-20 {
	top: 5rem;
}
.left-8 {
	left: 2rem;
}
.top-96 {
	top: 24rem;
}
.-left-96 {
	left: -24rem;
}
.top-48 {
	top: 12rem;
}
.z-40 {
	z-index: 40;
}
.z-\[-1\] {
	z-index: -1;
}
.z-20 {
	z-index: 20;
}
.z-10 {
	z-index: 10;
}
.m-auto {
	margin: auto;
}
.-m-8 {
	margin: -2rem;
}
.-m-12 {
	margin: -3rem;
}
.-m-10 {
	margin: -2.5rem;
}
.-m-32 {
	margin: -8rem;
}
.-m-2 {
	margin: -0.5rem;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mr-6 {
	margin-right: 1.5rem;
}
.mb-24 {
	margin-bottom: 6rem;
}
.mt-24 {
	margin-top: 6rem;
}
.-mt-24 {
	margin-top: -6rem;
}
.ml-12 {
	margin-left: 3rem;
}
.mr-0 {
	margin-right: 0px;
}
.mb-6 {
	margin-bottom: 1.5rem;
}
.mr-4 {
	margin-right: 1rem;
}
.mr-12 {
	margin-right: 3rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.mt-12 {
	margin-top: 3rem;
}
.ml-6 {
	margin-left: 1.5rem;
}
.-ml-2 {
	margin-left: -0.5rem;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.table {
	display: table;
}
.hidden {
	display: none;
}
.h-28 {
	height: 7rem;
}
.h-20 {
	height: 5rem;
}
.h-7 {
	height: 1.75rem;
}
.h-8 {
	height: 2rem;
}
.h-12 {
	height: 3rem;
}
.h-4 {
	height: 1rem;
}
.h-10 {
	height: 2.5rem;
}
.h-auto {
	height: auto;
}
.h-14 {
	height: 3.5rem;
}
.h-6 {
	height: 1.5rem;
}
.h-\[56rem\] {
	height: 56rem;
}
.h-\[40rem\] {
	height: 40rem;
}
.h-16 {
	height: 4rem;
}
.h-\[36rem\] {
	height: 36rem;
}
.h-px {
	height: 1px;
}
.h-48 {
	height: 12rem;
}
.h-\[30rem\] {
	height: 30rem;
}
.h-40 {
	height: 10rem;
}
.max-h-\[3rem\] {
	max-height: 3rem;
}
.max-h-\[4rem\] {
	max-height: 4rem;
}
.max-h-\[6rem\] {
	max-height: 6rem;
}
.min-h-full {
	min-height: 100%;
}
.w-full {
	width: 100%;
}
.w-48 {
	width: 12rem;
}
.w-8 {
	width: 2rem;
}
.w-64 {
	width: 16rem;
}
.w-6 {
	width: 1.5rem;
}
.w-10 {
	width: 2.5rem;
}
.w-4 {
	width: 1rem;
}
.w-80 {
	width: 20rem;
}
.w-screen {
	width: 100vw;
}
.w-40 {
	width: 10rem;
}
.w-14 {
	width: 3.5rem;
}
.w-96 {
	width: 24rem;
}
.w-auto {
	width: auto;
}
.w-\[28rem\] {
	width: 28rem;
}
.w-1\/2 {
	width: 50%;
}
.w-1\/5 {
	width: 20%;
}
.w-\[38rem\] {
	width: 38rem;
}
.w-\[3200px\] {
	width: 3200px;
}
.w-px {
	width: 1px;
}
.w-1\/3 {
	width: 33.333333%;
}
.w-3\/4 {
	width: 75%;
}
.w-1\/4 {
	width: 25%;
}
.min-w-full {
	min-width: 100%;
}
.max-w-7xl {
	max-width: 80rem;
}
.max-w-\[8rem\] {
	max-width: 8rem;
}
.max-w-xl {
	max-width: 36rem;
}
.max-w-6xl {
	max-width: 72rem;
}
.max-w-none {
	max-width: none;
}
.max-w-\[28rem\] {
	max-width: 28rem;
}
.max-w-\[40rem\] {
	max-width: 40rem;
}
.max-w-4xl {
	max-width: 56rem;
}
.max-w-\[10rem\] {
	max-width: 10rem;
}
.max-w-5xl {
	max-width: 64rem;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.-translate-x-1\/2 {
	--tw-translate-x: -50%;
	transform: var(--tw-transform);
}
.-translate-y-1\/2 {
	--tw-translate-y: -50%;
	transform: var(--tw-transform);
}
.transform {
	transform: var(--tw-transform);
}
.appearance-none {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.break-all {
	word-break: break-all;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-l-full {
	border-top-left-radius: 9999px;
	border-bottom-left-radius: 9999px;
}
.rounded-r-full {
	border-top-right-radius: 9999px;
	border-bottom-right-radius: 9999px;
}
.border-2 {
	border-width: 2px;
}
.border {
	border-width: 1px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-l-0 {
	border-left-width: 0px;
}
.border-t {
	border-top-width: 1px;
}
.border-r {
	border-right-width: 1px;
}
.border-white {
	--tw-border-opacity: 1;
	border-color: hsla(var(--color-white), var(--tw-border-opacity));
}
.border-red {
	--tw-border-opacity: 1;
	border-color: hsla(var(--color-red), var(--tw-border-opacity));
}
.border-black {
	--tw-border-opacity: 1;
	border-color: hsla(var(--color-black), var(--tw-border-opacity));
}
.border-gray-300 {
	--tw-border-opacity: 1;
	border-color: hsla(var(--color-gray-300), var(--tw-border-opacity));
}
.border-opacity-20 {
	--tw-border-opacity: 0.2;
}
.border-opacity-10 {
	--tw-border-opacity: 0.1;
}
.bg-gray-300 {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-gray-300), var(--tw-bg-opacity));
}
.bg-black {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-black), var(--tw-bg-opacity));
}
.bg-gray-200 {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-gray-200), var(--tw-bg-opacity));
}
.bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-gray-100), var(--tw-bg-opacity));
}
.bg-yellow {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-yellow), var(--tw-bg-opacity));
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-white), var(--tw-bg-opacity));
}
.bg-green {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-green), var(--tw-bg-opacity));
}
.bg-btn-blue {
	background-image: url("/images/btn-blue.svg");
}
.bg-hero-wide {
	background-image: url("/images/pen-paper-29.jpg");
}
.bg-gradient-to-b {
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.bg-try {
	background-image: url("/images/pen-paper-27.jpg");
}
.bg-gradient-to-tr {
	background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
.from-purple {
	--tw-gradient-from: hsl(var(--color-purple));
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, hsla(var(--color-purple), 0));
}
.to-pink {
	--tw-gradient-to: hsl(var(--color-pink));
}
.bg-cover {
	background-size: cover;
}
.bg-contain {
	background-size: contain;
}
.bg-clip-text {
	-webkit-background-clip: text;
	        background-clip: text;
}
.bg-center {
	background-position: center;
}
.bg-bottom {
	background-position: bottom;
}
.bg-right-bottom {
	background-position: right bottom;
}
.bg-top {
	background-position: top;
}
.bg-no-repeat {
	background-repeat: no-repeat;
}
.fill-current {
	fill: currentColor;
}
.p-8 {
	padding: 2rem;
}
.p-12 {
	padding: 3rem;
}
.p-10 {
	padding: 2.5rem;
}
.p-32 {
	padding: 8rem;
}
.p-2 {
	padding: 0.5rem;
}
.p-3 {
	padding: 0.75rem;
}
.px-12 {
	padding-left: 3rem;
	padding-right: 3rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-20 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.py-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.py-14 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}
.py-32 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.py-56 {
	padding-top: 14rem;
	padding-bottom: 14rem;
}
.py-36 {
	padding-top: 9rem;
	padding-bottom: 9rem;
}
.pr-16 {
	padding-right: 4rem;
}
.pr-8 {
	padding-right: 2rem;
}
.pt-36 {
	padding-top: 9rem;
}
.pb-24 {
	padding-bottom: 6rem;
}
.pr-20 {
	padding-right: 5rem;
}
.pb-48 {
	padding-bottom: 12rem;
}
.pb-12 {
	padding-bottom: 3rem;
}
.pl-8 {
	padding-left: 2rem;
}
.pr-6 {
	padding-right: 1.5rem;
}
.pt-80 {
	padding-top: 20rem;
}
.pb-36 {
	padding-bottom: 9rem;
}
.pb-6 {
	padding-bottom: 1.5rem;
}
.pb-4 {
	padding-bottom: 1rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pt-3 {
	padding-top: 0.75rem;
}
.pt-24 {
	padding-top: 6rem;
}
.pt-1 {
	padding-top: 0.25rem;
}
.pl-3 {
	padding-left: 0.75rem;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.font-wotfard {
	font-family: Wotfard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-5xl {
	font-size: 3rem;
	line-height: 1;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-9xl {
	font-size: 8rem;
	line-height: 1;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-8xl {
	font-size: 6rem;
	line-height: 1;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-6xl {
	font-size: 3.75rem;
	line-height: 1;
}
.font-bold {
	font-weight: 700;
}
.font-semibold {
	font-weight: 600;
}
.font-light {
	font-weight: 300;
}
.font-medium {
	font-weight: 500;
}
.font-extralight {
	font-weight: 200;
}
.uppercase {
	text-transform: uppercase;
}
.leading-tight {
	line-height: 1.25;
}
.leading-none {
	line-height: 1;
}
.leading-loose {
	line-height: 2;
}
.leading-normal {
	line-height: 1.5;
}
.leading-relaxed {
	line-height: 1.625;
}
.tracking-widest {
	letter-spacing: 0.1em;
}
.text-black {
	--tw-text-opacity: 1;
	color: hsla(var(--color-black), var(--tw-text-opacity));
}
.text-white {
	--tw-text-opacity: 1;
	color: hsla(var(--color-white), var(--tw-text-opacity));
}
.text-red {
	--tw-text-opacity: 1;
	color: hsla(var(--color-red), var(--tw-text-opacity));
}
.text-transparent {
	color: transparent;
}
.text-purple {
	--tw-text-opacity: 1;
	color: hsla(var(--color-purple), var(--tw-text-opacity));
}
.text-opacity-60 {
	--tw-text-opacity: 0.6;
}
.text-opacity-100 {
	--tw-text-opacity: 1;
}
.text-opacity-20 {
	--tw-text-opacity: 0.2;
}
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
	opacity: 0;
}
.opacity-100 {
	opacity: 1;
}
.opacity-40 {
	opacity: 0.4;
}
.transition-colors {
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.duration-100 {
	transition-duration: 100ms;
}
.duration-300 {
	transition-duration: 300ms;
}
.hover\:border-purple:hover {
	--tw-border-opacity: 1;
	border-color: hsla(var(--color-purple), var(--tw-border-opacity));
}
.hover\:bg-purple:hover {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--color-purple), var(--tw-bg-opacity));
}
.hover\:bg-btn-blue-hover:hover {
	background-image: url("/images/btn-blue-hover.svg");
}
.hover\:text-white:hover {
	--tw-text-opacity: 1;
	color: hsla(var(--color-white), var(--tw-text-opacity));
}
.hover\:text-purple:hover {
	--tw-text-opacity: 1;
	color: hsla(var(--color-purple), var(--tw-text-opacity));
}
.hover\:opacity-100:hover {
	opacity: 1;
}
.focus\:border-black:focus {
	--tw-border-opacity: 1;
	border-color: hsla(var(--color-black), var(--tw-border-opacity));
}
@media (max-width: 1999.98px) {

	.\33xl\:mx-auto {
		margin-left: auto;
		margin-right: auto;
	}

	.\33xl\:w-full {
		width: 100%;
	}

	.\33xl\:max-w-5xl {
		max-width: 64rem;
	}

	.\33xl\:max-w-\[36rem\] {
		max-width: 36rem;
	}

	.\33xl\:items-center {
		align-items: center;
	}

	.\33xl\:bg-hero-desktop {
		background-image: url("/images/pen-paper-28.jpg");
	}

	.\33xl\:py-\[5\.5rem\] {
		padding-top: 5.5rem;
		padding-bottom: 5.5rem;
	}
}
@media (max-width: 1399.98px) {

	.\32xl\:fixed {
		position: fixed;
	}

	.\32xl\:top-0 {
		top: 0px;
	}

	.\32xl\:right-0 {
		right: 0px;
	}

	.\32xl\:bottom-0 {
		bottom: 0px;
	}

	.\32xl\:z-50 {
		z-index: 50;
	}

	.\32xl\:z-40 {
		z-index: 40;
	}

	.\32xl\:block {
		display: block;
	}

	.\32xl\:flex {
		display: flex;
	}

	.\32xl\:hidden {
		display: none;
	}

	.\32xl\:w-\[26rem\] {
		width: 26rem;
	}

	.\32xl\:w-full {
		width: 100%;
	}

	.\32xl\:translate-x-full {
		--tw-translate-x: 100%;
		transform: var(--tw-transform);
	}

	.\32xl\:translate-x-0 {
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}

	.\32xl\:transform {
		transform: var(--tw-transform);
	}

	.\32xl\:flex-col {
		flex-direction: column;
	}

	.\32xl\:items-end {
		align-items: flex-end;
	}

	.\32xl\:items-center {
		align-items: center;
	}

	.\32xl\:justify-center {
		justify-content: center;
	}

	.\32xl\:bg-gradient-to-b {
		background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
	}

	.\32xl\:from-purple {
		--tw-gradient-from: hsl(var(--color-purple));
		--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, hsla(var(--color-purple), 0));
	}

	.\32xl\:to-blue {
		--tw-gradient-to: hsl(var(--color-blue));
	}

	.\32xl\:px-12 {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.\32xl\:pt-32 {
		padding-top: 8rem;
	}

	.\32xl\:pb-36 {
		padding-bottom: 9rem;
	}

	.\32xl\:pr-0 {
		padding-right: 0px;
	}

	.\32xl\:pb-8 {
		padding-bottom: 2rem;
	}

	.\32xl\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.\32xl\:tracking-normal {
		letter-spacing: 0em;
	}

	.\32xl\:text-white {
		--tw-text-opacity: 1;
		color: hsla(var(--color-white), var(--tw-text-opacity));
	}

	.\32xl\:shadow-xl {
		--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	}

	.\32xl\:transition {
		transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
		transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
		transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	.\32xl\:duration-300 {
		transition-duration: 300ms;
	}

	.\32xl\:hover\:text-white:hover {
		--tw-text-opacity: 1;
		color: hsla(var(--color-white), var(--tw-text-opacity));
	}
}
@media (max-width: 1199.98px) {

	.xl\:-top-1\/2 {
		top: -50%;
	}

	.xl\:m-0 {
		margin: 0px;
	}

	.xl\:-m-8 {
		margin: -2rem;
	}

	.xl\:mt-0 {
		margin-top: 0px;
	}

	.xl\:hidden {
		display: none;
	}

	.xl\:w-full {
		width: 100%;
	}

	.xl\:flex-col {
		flex-direction: column;
	}

	.xl\:flex-wrap {
		flex-wrap: wrap;
	}

	.xl\:items-start {
		align-items: flex-start;
	}

	.xl\:p-8 {
		padding: 2rem;
	}

	.xl\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.xl\:pb-4 {
		padding-bottom: 1rem;
	}

	.xl\:pr-0 {
		padding-right: 0px;
	}

	.xl\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}
}
@media (max-width: 991.98px) {

	.lg\:fixed {
		position: fixed;
	}

	.lg\:top-4 {
		top: 1rem;
	}

	.lg\:right-4 {
		right: 1rem;
	}

	.lg\:top-\[40\%\] {
		top: 40%;
	}

	.lg\:left-1\/2 {
		left: 50%;
	}

	.lg\:-left-1\/3 {
		left: -33.333333%;
	}

	.lg\:right-auto {
		right: auto;
	}

	.lg\:z-50 {
		z-index: 50;
	}

	.lg\:order-1 {
		order: 1;
	}

	.lg\:order-2 {
		order: 2;
	}

	.lg\:order-4 {
		order: 4;
	}

	.lg\:order-3 {
		order: 3;
	}

	.lg\:order-5 {
		order: 5;
	}

	.lg\:order-6 {
		order: 6;
	}

	.lg\:order-7 {
		order: 7;
	}

	.lg\:m-auto {
		margin: auto;
	}

	.lg\:-m-6 {
		margin: -1.5rem;
	}

	.lg\:mb-0 {
		margin-bottom: 0px;
	}

	.lg\:mt-0 {
		margin-top: 0px;
	}

	.lg\:ml-0 {
		margin-left: 0px;
	}

	.lg\:mb-24 {
		margin-bottom: 6rem;
	}

	.lg\:mr-0 {
		margin-right: 0px;
	}

	.lg\:mb-12 {
		margin-bottom: 3rem;
	}

	.lg\:block {
		display: block;
	}

	.lg\:inline-flex {
		display: inline-flex;
	}

	.lg\:hidden {
		display: none;
	}

	.lg\:h-auto {
		height: auto;
	}

	.lg\:h-\[24rem\] {
		height: 24rem;
	}

	.lg\:max-h-\[3rem\] {
		max-height: 3rem;
	}

	.lg\:min-h-\[200vh\] {
		min-height: 200vh;
	}

	.lg\:w-full {
		width: 100%;
	}

	.lg\:w-1\/4 {
		width: 25%;
	}

	.lg\:max-w-none {
		max-width: none;
	}

	.lg\:max-w-\[8rem\] {
		max-width: 8rem;
	}

	.lg\:max-w-\[6rem\] {
		max-width: 6rem;
	}

	.lg\:-translate-x-1\/2 {
		--tw-translate-x: -50%;
		transform: var(--tw-transform);
	}

	.lg\:transform {
		transform: var(--tw-transform);
	}

	.lg\:flex-col {
		flex-direction: column;
	}

	.lg\:items-start {
		align-items: flex-start;
	}

	.lg\:items-center {
		align-items: center;
	}

	.lg\:justify-start {
		justify-content: flex-start;
	}

	.lg\:justify-center {
		justify-content: center;
	}

	.lg\:overflow-y-auto {
		overflow-y: auto;
	}

	.lg\:overflow-x-hidden {
		overflow-x: hidden;
	}

	.lg\:rounded-none {
		border-radius: 0px;
	}

	.lg\:bg-hero-mobile {
		background-image: url("/images/pen-paper-19.jpg");
	}

	.lg\:bg-bottom {
		background-position: bottom;
	}

	.lg\:p-6 {
		padding: 1.5rem;
	}

	.lg\:px-4 {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.lg\:py-24 {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.lg\:py-36 {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	.lg\:pt-24 {
		padding-top: 6rem;
	}

	.lg\:pb-36 {
		padding-bottom: 9rem;
	}

	.lg\:pb-0 {
		padding-bottom: 0px;
	}

	.lg\:pb-24 {
		padding-bottom: 6rem;
	}

	.lg\:pb-6 {
		padding-bottom: 1.5rem;
	}

	.lg\:text-center {
		text-align: center;
	}

	.lg\:after\:absolute::after {
		content: "";
		position: absolute;
	}

	.lg\:after\:top-0::after {
		content: "";
		top: 0px;
	}

	.lg\:after\:left-0::after {
		content: "";
		left: 0px;
	}

	.lg\:after\:right-0::after {
		content: "";
		right: 0px;
	}

	.lg\:after\:bottom-0::after {
		content: "";
		bottom: 0px;
	}

	.lg\:after\:bg-black::after {
		content: "";
		--tw-bg-opacity: 1;
		background-color: hsla(var(--color-black), var(--tw-bg-opacity));
	}

	.lg\:after\:bg-opacity-60::after {
		content: "";
		--tw-bg-opacity: 0.6;
	}
}
@media (max-width: 767.98px) {

	.md\:-top-3 {
		top: -0.75rem;
	}

	.md\:hidden {
		display: none;
	}

	.md\:h-auto {
		height: auto;
	}

	.md\:w-1\/3 {
		width: 33.333333%;
	}

	.md\:w-32 {
		width: 8rem;
	}

	.md\:w-full {
		width: 100%;
	}

	.md\:text-8xl {
		font-size: 6rem;
		line-height: 1;
	}

	.md\:text-7xl {
		font-size: 4.5rem;
		line-height: 1;
	}

	.md\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.md\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}

	.md\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.md\:leading-tight {
		line-height: 1.25;
	}

	.md\:leading-none {
		line-height: 1;
	}
}
@media (max-width: 575.98px) {

	.sm\:-top-full {
		top: -100%;
	}

	.sm\:top-12 {
		top: 3rem;
	}

	.sm\:-top-3 {
		top: -0.75rem;
	}

	.sm\:right-1 {
		right: 0.25rem;
	}

	.sm\:-top-24 {
		top: -6rem;
	}

	.sm\:left-1\/2 {
		left: 50%;
	}

	.sm\:order-2 {
		order: 2;
	}

	.sm\:order-1 {
		order: 1;
	}

	.sm\:-m-6 {
		margin: -1.5rem;
	}

	.sm\:m-auto {
		margin: auto;
	}

	.sm\:mb-12 {
		margin-bottom: 3rem;
	}

	.sm\:mb-6 {
		margin-bottom: 1.5rem;
	}

	.sm\:hidden {
		display: none;
	}

	.sm\:h-16 {
		height: 4rem;
	}

	.sm\:h-12 {
		height: 3rem;
	}

	.sm\:max-h-\[2rem\] {
		max-height: 2rem;
	}

	.sm\:max-h-\[4rem\] {
		max-height: 4rem;
	}

	.sm\:w-full {
		width: 100%;
	}

	.sm\:w-64 {
		width: 16rem;
	}

	.sm\:w-1\/2 {
		width: 50%;
	}

	.sm\:w-32 {
		width: 8rem;
	}

	.sm\:w-12 {
		width: 3rem;
	}

	.sm\:w-28 {
		width: 7rem;
	}

	.sm\:max-w-\[6rem\] {
		max-width: 6rem;
	}

	.sm\:max-w-\[36rem\] {
		max-width: 36rem;
	}

	.sm\:max-w-\[35rem\] {
		max-width: 35rem;
	}

	.sm\:-translate-x-1\/2 {
		--tw-translate-x: -50%;
		transform: var(--tw-transform);
	}

	.sm\:transform {
		transform: var(--tw-transform);
	}

	.sm\:flex-col {
		flex-direction: column;
	}

	.sm\:flex-wrap {
		flex-wrap: wrap;
	}

	.sm\:items-start {
		align-items: flex-start;
	}

	.sm\:justify-start {
		justify-content: flex-start;
	}

	.sm\:justify-center {
		justify-content: center;
	}

	.sm\:p-6 {
		padding: 1.5rem;
	}

	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.sm\:py-12 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.sm\:py-24 {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.sm\:pt-24 {
		padding-top: 6rem;
	}

	.sm\:pt-12 {
		padding-top: 3rem;
	}

	.sm\:pb-12 {
		padding-bottom: 3rem;
	}

	.sm\:pb-4 {
		padding-bottom: 1rem;
	}

	.sm\:pb-24 {
		padding-bottom: 6rem;
	}

	.sm\:pb-6 {
		padding-bottom: 1.5rem;
	}

	.sm\:pb-0 {
		padding-bottom: 0px;
	}

	.sm\:pb-2 {
		padding-bottom: 0.5rem;
	}

	.sm\:pb-16 {
		padding-bottom: 4rem;
	}

	.sm\:text-7xl {
		font-size: 4.5rem;
		line-height: 1;
	}

	.sm\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.sm\:text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}

	.sm\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.sm\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.sm\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.sm\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}

	.sm\:text-3xl {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.sm\:leading-none {
		line-height: 1;
	}

	.sm\:text-white {
		--tw-text-opacity: 1;
		color: hsla(var(--color-white), var(--tw-text-opacity));
	}
}
@media (max-width: 399.98px) {

	.xs\:-top-2\/3 {
		top: -66.666667%;
	}

	.xs\:h-\[20rem\] {
		height: 20rem;
	}

	.xs\:pt-16 {
		padding-top: 4rem;
	}

	.xs\:pb-16 {
		padding-bottom: 4rem;
	}

	.xs\:text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}

	.xs\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}

	.xs\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.xs\:text-3xl {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}
