:root {
	--color-white: 0, 0%, 100%;
	--color-black: 0, 0%, 0%;
	--color-pink: 330, 74%, 53%;
	--color-purple: 249, 100%, 66%;
	--color-blue: 201, 100%, 56%;
	--color-red: 0, 100%, 50%;
	--color-yellow: 45, 100%, 60%;
	--color-green: 72, 100%, 50%;
	--color-gray-100: 0, 0%, 85%;
	--color-gray-200: 225, 7%, 11%;
	--color-gray-300: 240, 4%, 9%;
}

@font-face {
	font-family: Wotfard;
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-extralight.woff') format('woff'), url('/fonts/wotfard-extralight.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-light.woff') format('woff'), url('/fonts/wotfard-light.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-regular.woff') format('woff'), url('/fonts/wotfard-regular.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-medium.woff') format('woff'), url('/fonts/wotfard-medium.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-semibold.woff') format('woff'), url('/fonts/wotfard-semibold.woff2') format('woff2');
}

@font-face {
	font-family: Wotfard;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/wotfard-bold.woff') format('woff'), url('/fonts/wotfard-bold.woff2') format('woff2');
}

* {
	@apply focus:!ring-0 focus:!outline-none;
}

html, body {
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}

::selection {
	color: hsl(var(--color-white));
	background-color: hsl(var(--color-pink));
}

input[type="radio"]:checked + label {
	@apply text-white bg-black;
}

button[data-action="start"],
button[data-action="stop"] {
	@apply hidden;
}

.grecaptcha-badge {
	@apply !hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;